/**********************
*					            *
*   Variables		      *
*					            *
***********************/

// Color
// =========================

// Backgound
$gradient1:          #f6f6f6;
$gradient2:          #ffffff;

$white:              #000000;
$light-white:        #f4f4f4;

$gray:               #484849;
$dark-gray:          #373738;
$semi-light-gray:    #929394;
$light-gray:         #999a9b;

$green:              #46b16e;
$red:                #ed4653;

$facebook:           #3b5998;

// Font
$paragrap-headline:  $dark-gray;
$description:        $light-gray;
$tag-text:           $light-gray;

// border
$boder:              $light-white;
$devider:            $light-white;

// pill
$pill--light-gray:   darken($gradient1, 1.8%);

// round corner
$round-corner: 5px;

// Container
$xl-width: 844px;

// spacing
$spacing-sm: 6px;
$spacing-md: 12px;
$spacing-lg: 20px;
